@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"),
    url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue";
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  height: 388px;
  background-color: blue;
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  top: 0px;
}
header .container {
  padding-top: 40px;
  margin-top: 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding-bottom: 20px;
  font-size: 16pxx;
}

header a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

header a:hover::after {
  width: 50%;
}
nav {
  display: flex;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
}
button {
  cursor: pointer;
  font-family: "HelveticaNeueBold";
}
nav button {
  color: #171717;
  border: none;
  padding: 18px 43px;
  border-radius: 28px;
  font-size: 16px;
}
ul {
  display: flex;
  list-style: none;
  gap: 45px;
}
img {
  width: 100%;
}
article {
  margin-top: 270px;
}
p {
  font-size: 16px;
}
.content-container {
  max-width: 83%;
  margin: auto;
}
.content-container h2 {
  font-size: 18px;
  font-family: "HelveticaNeueBold";
  margin-top: 30px;
  margin-bottom: 60px;
}
.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.building-img {
  max-width: 219px;
  object-fit: cover;
}
.text-container {
  max-width: 65%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.more-info-btn {
  margin-top: 58px;
  color: #ffffff;
  border: none;
  padding: 18px 77px;
  border-radius: 28px;
  background-color: #0a22f4;
  align-self: center;
  margin-bottom: 180px;
}
footer {
  background-color: #0a22f4;
  color: #ffffff;
}
.footer-left-content {
  max-width: 600px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
.form-group label {
  display: block;
  margin-top: 40px;
}
.form-group:first-child label {
  margin-top: 0px;
}
.form-group input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  height: 30px;
}
.footer-right-content {
  max-width: 460px;
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  height: 90px;
}
footer h2 {
  font-family: "HelveticaNeueBold";
  font-size: 32px;
  padding-bottom: 30px;
  padding-top: 275px;
}
footer .container {
  padding-bottom: 40px;
}
.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}
.form-btn {
  margin-top: 40px;
  align-self: flex-end;
  padding: 18px 45px;
  border: none;
  border-radius: 28px;
  background-color: #ffffff;
  color: #171717;
  font-size: 16px;
}
.footer-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.email-container,
.phone-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.email-container a,
.phone-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}
.footer-contact-container a {
  font-size: 22px;
  font-family: "HelveticaNeueBold";
}
.phone-bg,
.email-bg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-bg img,
.email-bg img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
}
.map {
  margin-top: 58px;
  margin-bottom: 70px;
  max-width: 450px;
  width: 100%;
  box-shadow: -20px 20px 1px 1px white;
}
.heart-icon {
  width: 26px;
  height: 26px;
}
.smart-logo {
  max-width: 126px;
  width: 100%;
}
.credits {
  margin-top: 180px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  flex-wrap: wrap;
}
.credit-wrapper p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
.footer-right-content .maps,
.footer-right-content .footer-contact-container,
.footer-right-content p {
  display: none;
}
.burger-icon {
  width: 60px;
  height: 60px;
  margin: auto;
  display: none;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }
  .content-container,
  .text-container,
  .footer-right-content {
    max-width: 100%;
  }
  .text-container {
    margin-top: 40px;
  }
  .building-img:nth-of-type(5),
  header nav,
  .footer-left-content p {
    display: none;
  }
  .building-img {
    width: 162px;
    max-height: 90px;
    height: 100%;
    border-radius: 15px;
  }
  .img-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    overflow-x: scroll;
  }
  header {
    height: 185px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  article {
    margin-top: 140px;
  }
  .header-wrapper {
    justify-content: center;
  }
  .footer-content-wrapper {
    flex-direction: column-reverse;
  }
  footer h2 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  .content-container h2 {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .form-btn {
    margin-top: 30px;
    align-self: stretch;
  }

  .phone-bg img,
  .email-bg img,
  .phone-bg,
  .email-bg {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  .email-container,
  .phone-container {
    gap: 12px;
  }
  .email-container a,
  .phone-container a {
    font-size: 13px;
  }
  textarea {
    height: 30px;
  }
  .credits {
    margin-top: 44px;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .map {
    margin-top: 40px;
    margin-bottom: 43px;
    max-width: none;
    box-shadow: none;
  }
  .footer-left-content {
    max-width: none;
  }
  .footer-left-content img {
    max-width: 100%;
  }
  .burger-icon {
    display: block;
  }
  .credits h4 {
    margin-top: 40px;
  }
  .more-info-btn {
    margin-top: 12px;
    margin-bottom: 40px;
  }
  svg .b {
    fill: #ffffff;
  }
}
